@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  text-align: center;
  background-color: #98aac5;
}

.header {
  font-size: 1.6em;
  margin-bottom: 6em;
  text-decoration: underline;
}

.app-container {
  margin: auto;
  background-color: white;
  max-width: 1024px;
}

.transcripted-text-section {
  min-height: 480px;
}

.transcripted-text-header {
  margin-top: 3em;
  background-color: #c53838;
}

.transcripted-text {
  width: 98%;
  margin: 0.1px auto;
  border: 1px solid #000000;
  padding: 0.2em 0;
  background-color: #9da5b1;
  display: inline-block;
}

.buttons-section {
  position: relative;
  
  background-color: #464646;
  padding: 1em 2em;
}

.recording-button {
  margin: 0 1em;
  width: 4em;
  height: 4em;
  background-color: #af312d;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.recording-button-pressed {
  margin: 0 1em;
  width: 4em;
  height: 4em;
  background-color: #6d1f1f;
  border: none;
  color: #8d5656;
  font-size: 24px;
  font-weight: bold;
}

.recording-button:hover {
  background-color: #8f2727;
}

.delete-text-button {
  display: inline;
  float: right;
  width: 20px;
  height: 20px;
  background-color: rgb(155, 104, 104);
  border-radius: 15%;
  border: solid 1px black;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.delete-text-button:hover {
  background-color: rgb(135, 0, 0);
}

p {
  display: inline;
  margin: 6px;
  padding: 0 10%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}